/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  font-size: 16px;
}

iframe {
  width: 100%;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/blog-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
@media screen and (min-width: 640px) {
  .blog {
    padding: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .blog {
    flex-direction: row;
    padding: 0 1rem 0 0;
  }
}
.blog .blog-preview {
  padding: 1.5rem 1rem 1.5rem 1rem;
  max-width: 768px;
}
@media screen and (min-width: 768px) {
  .blog .blog-preview {
    width: 80%;
  }
}
.blog .blog-preview .blog-preview-infos {
  padding: 1rem;
  background-color: white;
  color: black;
}
.blog .blog-preview .blog-preview-infos .preview-article-title {
  font-size: 1.1rem;
  font-weight: bold;
}
@media screen and (min-width: 640px) {
  .blog .blog-preview .blog-preview-infos .preview-article-title {
    font-size: 1.3rem;
  }
}
.blog .blog-preview .blog-preview-infos .preview-article-tags {
  font-size: 0.8rem;
  color: rgb(6, 210, 233);
}
@media screen and (min-width: 640px) {
  .blog .blog-preview .blog-preview-infos .preview-article-tags {
    font-size: 1rem;
  }
}
.blog .blog-preview .blog-preview-infos .preview-article-description {
  font-size: 0.9rem;
  padding-top: 0.5rem;
  color: rgb(150, 150, 150);
}
@media screen and (min-width: 640px) {
  .blog .blog-preview .blog-preview-infos .preview-article-description {
    font-size: 1rem;
  }
}
.blog .blog-aside {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
  padding-top: 5rem;
}
@media screen and (min-width: 768px) {
  .blog .blog-aside {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .blog .blog-aside {
    width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  .blog .blog-aside {
    width: 30%;
  }
}
.blog .blog-aside h2 {
  font-weight: bold;
  font-size: 1rem;
}
@media screen and (min-width: 640px) {
  .blog .blog-aside h2 {
    font-size: 1.2rem;
  }
}
.blog .blog-aside hr {
  width: 60%;
  margin: 0.5rem 0 0.5rem 0;
}
.blog .blog-aside p {
  text-align: center;
  font-size: 0.8rem;
}
@media screen and (min-width: 640px) {
  .blog .blog-aside p {
    font-size: 0.9rem;
  }
}
.blog .blog-aside .button-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .blog .blog-aside .button-container {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .blog .blog-aside .button-container {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .blog .blog-aside .button-container {
    width: 80%;
  }
}
.blog .blog-aside .button-container button:hover {
  cursor: pointer;
}
.blog .blog-aside .button-container button {
  background-color: white;
  color: black;
  border: none;
  padding: 0.5rem 0 0.5rem 0;
  font-weight: bold;
  font-size: 0.9rem;
}
@media screen and (min-width: 640px) {
  .blog .blog-aside .button-container button {
    font-size: 1rem;
  }
}
.blog .blog-aside .button-container :first-child {
  color: rgb(245, 205, 3);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(77, 91, 103);
  color: white;
  padding: 3rem;
  gap: 1rem;
  min-height: 50vh;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .contact {
    min-height: 60vh;
  }
}
.contact h2 {
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .contact h2 {
    font-size: 1.5rem;
  }
}
.contact hr {
  width: 80%;
  color: rgb(150, 150, 150);
}
@media screen and (min-width: 1024px) {
  .contact hr {
    width: 70%;
  }
}
@media screen and (min-width: 1440px) {
  .contact hr {
    width: 50%;
  }
}
.contact p {
  text-align: center;
  font-size: 0.8rem;
  opacity: 90%;
}
@media screen and (min-width: 640px) {
  .contact p {
    width: 90%;
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .contact p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .contact p {
    width: 80%;
  }
}
@media screen and (min-width: 1440px) {
  .contact p {
    width: 50%;
  }
}
.contact button {
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: rgb(6, 210, 233);
  margin-top: 1rem;
}
.contact button:hover {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
