.gallery {
    align-items: stretch;
    justify-items: start;
    grid-template-areas: 
    "gallery-aside gallery-container";
 }

.gallery-aside {
    padding-top: 10%;
    padding-left: 10%;
    width: 40%;
 }

.gallery-aside nav {
    margin-top: 30%;
 }

.gallery-container {
    width: 72%;
    display: grid;
    grid-template-areas: 
    "item1 item2"
    "item3 item4"
    "item5 item6";
 }

.gallery-container img {
    margin: 0;
  }

.item1 {
    grid-area: item1;
 }

.item2 {
    grid-area: item2 ;
 }

.item3 {
    grid-area: item3 ;
 }

.item4 {
    grid-area: item4 ;
 }

.item5 {
    grid-area: item5 ;
 }

.item6 {
    grid-area: item6 ;
}